.leftBar {
    border-right: 1px solid #d2d7d8;

    ul {
        box-sizing: border-box;
        height: unset;
        position: sticky;
        top: 64px;
        a {
            text-decoration: none;
            color: inherit;
            li {
                .MuiListItemIcon-root {
                    min-width: unset;
                    svg {
                        padding: 0.5rem;
                    }
                }
                padding: 1rem;
                &:hover {
                    background: #0000000a;
                }
            }
        }
    }
}
.app {
    .app-body {
        display: flex;
        max-width: 2000px;
        margin: auto;
        .mainDisplay {
            flex: 1;
            min-height: 90vh;
            min-width: 0;
        }
    }
}

.add-button {
    position: fixed;
    bottom: 15px;
    right: 5%;

    button {
        transition: 0.5s;
        &:hover {
            transform: scale(1.25);
        }
    }
}
.rightBar {
    border-left: 1px solid #d2d7d8;
    width: 30%;
    padding: 1rem;
    max-width: 360px;
    box-sizing: border-box;
    .friends {
        a {
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 720px) {
    .leftBar {
        background: #1b3b6f;
        color: white;
        ul {
            a {
                li {
                    &:hover {
                        background: #2b4d84;
                    }
                    .MuiListItemText-root {
                        display: none;
                    }
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
}
