.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
    h2 {
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        svg {
            margin-left: 0.5rem;
        }
    }
    .created-by-span {
        align-items: center;
        margin-bottom: 0.25rem;
        > * {
            margin: 0 0.5rem 0 0;
        }
    }
    .ratings-span {
        margin-bottom: 1rem;
        small {
            margin-left: 0.25rem;
        }
    }
}
